:root
{
    --main-radius:5px;
    --main-padding:5px;
}

body
{
    background-image: url(./Images/WoodBackground.jpg);
}

.container
{
    display: grid;
    height: 97vh;
    grid-template-columns: 0.4fr 1.2fr 1.2fr 1.2fr;
    grid-template-rows: 0.2fr 1.9fr 1.3fr 0.3fr;
    grid-template-areas:
    "nav nav nav nav"
    "Sidebar Main Main Main"
    "Sidebar Content1 Content2 Content3"
    "Sidebar footer footer footer";
    grid-gap: .2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: peru;
    text-align: center;
}

nav
{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.400);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

main
{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.400);
    grid-area: Main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#Sidebar
{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.400);
    grid-area: Sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#Content1
{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.400);
    grid-area: Content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#Content2
{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.400);
    grid-area: Content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#Content3
{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.400);
    grid-area: Content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer
{
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0.400);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

}

.linkImg
{
    float: right;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.ProfilPic
{
    border-radius: 50%;
    height: 200px;
    margin: 30px;
}


.topnav a 
{
    color: gray;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}
  
.topnav a:hover 
{
    background-color: rgb(133, 79, 25);
    color: black;
    border-radius: 10px;
}
  
.topnav a.active 
{
    background-color: peru;
    color: white;
    border-radius: 10px;
}



@media only screen and (max-width: 550px)
{
    .container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.4fr 1.3fr 1.3fr 1.3fr 0.5fr;
        grid-template-areas:
        "nav"
        "Sidebar"
        "Main"
        "Content1"
        "Content2"
        "Content3"
        "footer"
    }

    .linkImg
    {
        height: 40px;
        border-radius: 50%;
        margin-top: 5px;
        margin-right: 30px;
        float: none;
    }
}

  

