:root
{
    --main-radius:5px;
    --main-padding:5px;
}

body
{
    background-image: url(./Images/cool2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    font-size: 42px;
}

p
{
    font-size: 14px;
    margin: 20px;
}

.ProfileDiv
{
    height: auto;
    width: 20%;
    float: left;
    margin-left: 1%;
}

.TextDiv
{
    width: 79%;
    height: auto;
    float: right;
    margin-top: 7%;
}

.container
{
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.7fr 0.8fr 0.3fr;
    grid-template-areas:
    "nav nav nav nav"
    "Main Main Main Main"
    "Content1 Content2 Content2 Content2"
    "footer footer footer footer";
    grid-gap: .2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: peru;
    text-align: center;
}

nav
{
    background-color: rgba(0, 0, 0, 0.600);
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: 10px solid transparent;
    border-image: url(./Images/border2.png) 200 repeat;
}

main
{
    background-color: rgba(0, 0, 0, 0.600);
    grid-area: Main;
    border-radius: var(--main-radius);
}

#Content1
{
    background-color: rgba(0, 0, 0, 0.600);
    grid-area: Content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#Content2
{
    background-color: rgba(0, 0, 0, 0.600);
    grid-area: Content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer
{
    background-color: rgba(0, 0, 0, 0.600);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);

}

.linkImg
{
    float: right;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.ProfilPic
{
    border-radius: 50%;
    width: 100%;
}


.topnav a 
{
    color: gray;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}
  
.topnav a:hover 
{
    background-color: rgb(133, 79, 25);
    color: black;
    border-radius: 10px;
}
  
.topnav a.active 
{
    background-color: peru;
    color: white;
    border-radius: 10px;
}



@media only screen and (max-width: 550px)
{
    .container
    {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.4fr 1.3fr 1.3fr 1.3fr 0.5fr;
        grid-template-areas:
        "nav"
        "Main"
        "Main"
        "Main"
        "Content1"
        "Content2"
        "footer"
    }

    .linkImg
    {
        height: 40px;
        border-radius: 50%;
        margin-top: 5px;
        margin-right: 30px;
        float: none;
    }

    .ProfilPic
    {
        height: 100%;
        width: auto;
        border-radius: 50%;
    }

    .ProfileDiv
    {
        width:100%;
        height:30%;
    }

    .TextDiv
    {
        width:99%;
        height: auto;
        margin-top:1%;
    }
    p
    {
        margin: 10px;
    }
}

  

